 <ion-view view-title="Inicio" hide-nav-bar="true" ng-controller="LoginCtrl">
    <ion-content class="bg-begin">
        <div class="big-logo">
            <img src="img/icon/logo_block.png">
        </div>
        <div class="btns-begin">
            <button class="button button-positive button-outline" ng-click="selectPerfil()">Cadastre-se</button>
            <button class="button button-positive" ng-click="login()">Login</button>
        </div>

        <div class="btns-more">
            <button type="button" class="button button-clear button-register" ng-click="enter()">
                Entrar sem cadastrar
                <i class="icon-arrow ion-ios-arrow-forward"></i>
            </button>
        </div>
    </ion-content>
</ion-view>
