<ion-view view-title="Finalizar compra">
    <ion-content class="bg-content box-price-cart address"  scroll="true" >
        <div class="steps-checkout">
            <span class="first active">Endereço</span>
            <span class="middle">Pagamento</span>
            <span class="last">Confirmação</span>
        </div>

        <div class="box-widget">
            <h2 class="title-header">Endereço de entrega</h2>
            <div class="infos">
                <h3 class="title">Endereço Principal</h3>
                <p class="text">AOS 01 Bloco B Apto 405 Octogonal - Brasília - DF 70660-012</p>
            </div>
        </div>

        <div class="box-widget">
            <a class="item item-icon-right" href="#/tab/cart/cart-newaddress">
                Alterar endereço de entrega
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </div>

        <div class="box-widget">
            <h2 class="title-header">Pedidos</h2>
            <div class="infos">
                <p class="title-item">Cimento Votoran Obras Saco de 50Kg </p>
                <p class="title-item">Cimento Votoran Obras Saco de 50Kg </p>
            </div>
        </div>

        <div class="box-widget">
            <div class="infos">
                <p class="title-send">Entrega Normal <span class="value"> R$11,20</span> </p>
            </div>
        </div>


    </ion-content>

    <div class="box-total-cart">
        <a class="button button-positive" ng-href="#/tab/cart/cart-payment">Continuar</a>
    </div>

</ion-view>
