<ion-view view-title="Adicionar endereço">
    <ion-content class="bg-content box-price-cart address padding-top-20" scroll="true">
        <div class="box-widget">
            <h2 class="title-header">Dados Pessoais</h2>
            <div class="form-app form-float">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Titulo do endereço</span>
                        <input type="text" placeholder="Titulo do endereço">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Nome do destinatário</span>
                        <input type="text" placeholder="Nome do destinatário">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Sobrenome do destinatário</span>
                        <input type="text" placeholder="Sobrenome do destinatário">
                    </label>
                </div>
            </div>
        </div>
        <div class="box-widget">
            <h2 class="title-header">Dados Pessoais</h2>
            <div class="form-app form-float">
                <div class="list">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">CEP</span>
                        <input type="tel" placeholder="CEP">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Endereço</span>
                        <input type="text" placeholder="Endereço">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Número</span>
                        <input type="tel" placeholder="Número">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Complemento(opcional)</span>
                        <input type="text" placeholder="Complemento(opcional)">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Bairro</span>
                        <input type="text" placeholder="Bairro">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Cidade</span>
                        <input type="tel" placeholder="Cidade">
                    </label>
                    <label class="item-input item-select select">
                        <span class="input-label">Estado</span>
                        <select class="select-form">
                            <option></option>
                            <option>SP</option>
                            <option>RJ</option>
                            <option>DF</option>
                            <option>CE</option>
                            <option>PI</option>
                        </select>
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Ponto de referência(opcional)</span>
                        <textarea placeholder="Ponto de referência(opcional)"></textarea>
                    </label>

                </div>
            </div>
        </div>
    </ion-content>
    <div class="box-total-cart">
        <a class="button button-positive" ng-href="#/tab/cart/cart-address">Salvar</a>
    </div>
</ion-view>
