<ion-view view-title="Esqueci minha" hide-nav-bar="false" ng-controller="LoginCtrl">
    <ion-content class="bg-form" scroll="true">
        <div class="form-app">
            <h2 class="title">Digite abaixo seu e-mail ou CPF/CNPJ com que se cadastrou na loja e receba sua senha por email</h2>
            <div class="list form-sign">
                <label class="item-input">
                    <input type="text" class="input-form" placeholder="Email ou CPF/CNPJ">
                </label>
            </div>
        </div>

        <div class="btns-begin">
            <button class="button button-positive" ng-click="begin()">Enviar</button>
        </div>
    </ion-content>
</ion-view>



