<ion-view view-title="Selecione um perfil" hide-nav-bar="false" ng-controller="LoginCtrl">
    <ion-content class="bg-form" scroll="true">
        <div class="select-perfil">
            <button type="button" class="button button-clear button-positive" ng-click="perfilPF()">
                <img src="img/icon_pf.png" alt="">
                Pessoa Fisica
            </button>

            <button type="button" class="button button-clear button-positive" ng-click="perfilPJ()">
                <img src="img/icon_pj.png" alt="">
                Pessoa Juridica
            </button>
        </div>
    </ion-content>
</ion-view>
