<ion-view view-title="Perfil">
    <ion-nav-title>
        <img class="logo-title" src="img/icon/logo.png">
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <a class="button" ng-click="logout()">Sair</a>
    </ion-nav-buttons>

  <ion-content class="bg-content">
    <div class="welcome-user">
        <h2>Olá, Marcelo</h2>
    </div>
    <div class="box-widget">
        <ion-list class="list-links">
            <a class="item item-links item-icon-right" href="#">
                Lista de desejos
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-links item-icon-right" href="#">
                Meus pedidos
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-links item-icon-right" href="#">
                Meus dados
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-links item-icon-right" href="#">
                Meus endereços
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-links item-icon-right" href="#">
                Alterar e-mail
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-links item-icon-right" href="#">
                Alterar senha
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </ion-list>
    </div>

    <div class="box-widget">
        <ion-list class="list-links ">
            <a class="item item-links item-icon-right" href="#">
                Sobre nós
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-links item-icon-right" href="#">
                Política de privacidade
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
            <a class="item item-links item-icon-right" href="#">
                SAC
                <i class="icon ion-chevron-right icon-accessory"></i>
            </a>
        </ion-list>

    </div>

  </ion-content>
</ion-view>
