<ion-view view-title="Perfil">
    <ion-nav-title>
        <img class="logo-title" src="img/icon/logo.png">
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <a class="button" ng-click="logout()">Sair</a>
    </ion-nav-buttons>

  <ion-content class="bg-content">
    <div class="welcome-user">
        <h2>Olá, Marcelo</h2>
    </div>
    <ion-list>
        <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-ios-heart-outline"></i>
            Lista de desejos
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-ios-list-outline"></i>
            Meus pedidos
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-ios-person-outline"></i>
            Meus dados
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-ios-location-outline"></i>
            Meus endereços
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-ios-email-outline"></i>
            Alterar e-mail
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
        <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-ios-locked-outline"></i>
            Alterar senha
            <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
    </ion-list>
  </ion-content>
</ion-view>
