<ion-view view-title="Pesquisa de produtos">
    <ion-nav-title>
        <img class="logo-title" src="img/icon/logo.png">
    </ion-nav-title>
    <ion-content class="">
        <div class="bar bar-header bar-search item-input-inset">
            <label class="item-input-wrapper input-search">
                <input type="search" class="input-search" placeholder="Buscar produtos">
            </label>
            <a class="button button-clear" ng-href="#/tab/search/result-search">
                <i class="icon ion-ios-search"></i>
            </a>
        </div>

        <div class="box-search">
            <h5 class="title">Buscas recentes</h5>
            <div class="list-search">
                <a class="link-search" ng-href="#/tab/search/result-search">Cimento</a>
                <a class="link-search" href="">Carinho de mão</a>
            </div>
        </div>
    </ion-content>
</ion-view>
